.countryInfo {
    flex: 1;
    padding-left: 100px;
}

.countryName {
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

th,td {
    text-align: left;
    padding: 8px;
}

.countryInfo__title {
    font-weight: 600;
    max-width: max-content;
}

.countryInfo__value {
    font-weight: 400;
}

.borderList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.borderItem {
    display: block;
    padding: 4px 8px;
    margin: 8px 12px 8px 0;
    width: max-content;
    text-align: center;
    user-select: none;
    transition: all ease .2s;
    opacity: .8;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;

    &:hover {
        opacity: 1;
        font-weight: bold;
        transform: translateY(-1px);
        cursor: pointer;
    }
}

